<div class="todolist">
        <input type="text" class="form_input" [(ngModel)]="keyword" (keyup)="doAdd($event)" /> 
        <hr>
        <h3>待办事项</h3>


        <ul>
            <li *ngFor="let item of todolist; let key = index;" [hidden] = "item.status == 1">
                <input type="checkbox" [(ngModel)]="item.status" (change) = "checkboxChange()" />{{item.title}}----<button (click)="deleteData(key)">x</button>
            </li>
        </ul>


        <h3>已完成事项</h3>

        <ul>
                <li *ngFor="let item of todolist; let key = index;" [hidden] = "item.status == 0">
                    <input type="checkbox" [(ngModel)]="item.status" />{{item.title}}----<button (click)="deleteData(key)">x</button>
                </li>
            </ul>
    </div>
